In [62]:
import pyterrier as pt
if not pt.started():
  print ("not")  
  pt.init()

In [1]:
from baseline import read_xml
topics_2020 = read_xml('topics-task-2.xml')

1
[<DOM Element: topics at 0x7f1b1448ce10>]
50

In [3]:
topics_2020[39:50]

[('40',
  '\nWhich operating system has better performance: Windows 7 or Windows 8?\n'),
 ('41', '\nWhich smartphone has a better battery life: Xperia or iPhone?\n'),
 ('42', '\nWhich four wheel truck is better: Ford or Toyota?\n'),
 ('43',
  '\nShould I prefer a Leica camera over Nikon for portrait photographs?\n'),
 ('44', '\nWhich company has a larger capitalization: Apple or Microsoft?\n'),
 ('45', '\nWhich laptop has a better durability: HP or Dell?\n'),
 ('46', '\nWhich beverage has more calories per glass: beer or cider?\n'),
 ('47', '\nIs admission rate in Stanford higher than that of MIT?\n'),
 ('48', '\nIs pasta healthier than pizza?\n'),
 ('49',
  '\nWhich city is more expensive to live in: San Francisco or New York?\n'),
 ('50', '\nWhose salary is higher: basketball or soccer players?\n')]

In [ ]:
Which smartphone has a better battery life: Xperia or iPhone?

In [68]:
import requests
#r = requests.post('http://10.30.99.211:8261/gpt_small', data = "What is better for deep learning Python or Matlab?")
#print (r.status_code)
import requests
from xml.dom import minidom
import sys
import argparse

#numpy
import numpy as np

In [69]:
!pwd

/notebook/touche2021

In [4]:
import pickle


with open('/notebook/touche/list_of_un_answ.pkl', 'rb') as f:
    answers_2020 = pickle.load(f)

Which smartphone has a better battery life: Xperia or iPhone?
    
LightGBM:
    
1. “…the power saver app that will turn down settings when battery life is low to get as much juice out of the battery as possible”. sony has set the benchmark with its 12 megapixel camera inside the xperia s.

2. how to increase the battery life of apple&#x27;s iphone 4s many of those with an iphone 4s have complaints about the battery life. apple has acknowledged these problems, and is working to fix them

3. the verizon xperia play takes its biggest hit in battery life when playing video games.

4. sony ericsson includes an 8gb card in the sales package the sony ericsson xperia arc s has below average battery life. most users will get around 24 hours of life out of the xperia arc&#x27;s 1600mah battery before it needs a recharge, but heavy users may need an injection of power before then.

5. 'the one x will feature an 1800 mah battery and is expected to better iphone 5 in the battery-life department.

baseline:

1. the iphone 4 is apple&#x27;s thinnest smartphone yet, but offers a much better screen, faster processor, video calling, and many other enhancements.

2. ony xperia s review: an above average smartphone ~ gizmotraker', 'as far as battery life is concerned, it last about 7 hr 30 min in talktime &amp; 450 hrs in standby

3. so, if you had to buy a new smartphone this summer, which one would you choose? will you wait until the device-of-choice ends up coming to your mobile carrier? will we see the iphone on the verizon wireless network?

4. how to increase the battery life of apple&#x27;s iphone 4s many of those with an iphone 4s have complaints about the battery life. apple has acknowledged these problems, and is working to fix them

5. page 5 of iphone news for smartphones', 'the iphone 4 is apple&#x27;s thinnest smartphone yet, but offers a much better screen, faster processor, video calling, and many other enhancements.

Which city is more expensive to live in: San Francisco or New York?

1. overshadowed by the far more successful world’s fair in new york city, and in particular by the tone-setting “world of tomorrow” exhibit there built by general motors, the 1939 us steel vision of san francisco in 1999 is worth peeking at: &quot;san francisco in 1999&quot; golden gate international exposition

2. new york city - new york city or nyc is the most populous city in united states and the centre of new york metropolitan area. located on one of the world&#x27;s largest natural harbour, nyc consists of five boroughs, the bronx, brooklyn, manhattan, queens, and staten island.

3. 'new york city, new york home new york new york city * doctors found not negligent in medical malpractice case a medical malpractice case involving the head football coach for notre dame has ended with the jury finding the doctors not negligent in their care and treatment.

4. areas like alphabet city in manhattan and the mission district in san francisco, which were occupied by poor, mostly hispanic families for over a decade, are now increasingly expensive.

5. there are many of the well known chain hotels in san francisco and the closer to the city centre the more expensive they are. rates for most accommodation are comparable to those charged in other major us cities. another option is to stay in a bed and breakfast inn.

baseline

1. there are many of the well known chain hotels in san francisco and the closer to the city centre the more expensive they are. rates for most accommodation are comparable to those charged in other major us cities. another option is to stay in a bed and breakfast inn.'

2. the guided walking tours around san francisco range from the absolutely free (city guides) to more expensive, all-inclusive walking and dining tours like wok wiz in chinatown.

3. the best san francisco restaurants, bars, shopping, and more. from stunning views to memorable museums, san francisco is a city of iconic attractions and hidden gems. we&#x27;ve pulled together the best of each in this quintessential roundup.

4. another way to find your way around the city is to read this, our 11th annual best of san francisco® issue, which is filled with every one of those discoveries — and hundreds more.

5. if you plan to visit distant outlying areas which are not accessible by subway, it is best to ret a car for the length of such trips, and plan to walk or use public transportation in the city of san francisco and environs.



1. 'stanford and harvard have a similar admissions rate of about 7%. mit comes with a somewhat greater rate of success admitting just under 10% or 1742 for the class of 2015. harvard, stanford and mit are global leaders in culture, commerce and governmental policies.'

2. 'for more than a decade, i have served as an admissions officer for mit. in that time, i&#x27;ve read more than 10,000 applications and have watched thousands of new students enter mit. it is a privilege to work at the most dynamic and exciting university in the world.'

3. our primary enhancement was targeted at families earning less than $75,000 — making mit tuition free and eliminating the student loan requirement. our enhancement enabled us to maintain our trend of yielding students from the lower socio-economic levels at a higher rate.

baseline

'stanford and harvard have a similar admissions rate of about 7%. mit comes with a somewhat greater rate of success admitting just under 10% or 1742 for the class of 2015. harvard, stanford and mit are global leaders in culture, commerce and governmental policies.'

'for more than a decade, i have served as an admissions officer for mit. in that time, i&#x27;ve read more than 10,000 applications and have watched thousands of new students enter mit. it is a privilege to work at the most dynamic and exciting university in the world.'

'all of this factual information, plus a lot of other detail, can be found in the mit admissions literature. by now you’ve probably realized that mit is expensive. fortunately though, we’re not cheap. in fact, this year, mit will award $74 million in undergraduate aid.

In [41]:
for elem in answers_2020['47']:
    if elem[1] == 'clueweb12-1906wb-51-06336':
        print (elem)

(1253.0175, 'clueweb12-1906wb-51-06336', 'how much is too much? | mit due', 'our primary enhancement was targeted at families earning less than $75,000 — making mit tuition free and eliminating the student loan requirement. our enhancement enabled us to maintain our trend of yielding students from the lower socio-economic levels at a higher rate.')

In [72]:
import pandas as pd
import re
info_df = pd.DataFrame(columns=["qid", "query", "docno", "text"])

for elem in topics_2020:
    qid, query = elem[0], elem[1].strip('\n')
    query = re.sub(r'[^\w\s]','',query)
    for answer in answers_2020[qid]:
        docno = answer[1]
        score = answer[0]
        text = answer[3]
        df_row = {"qid":qid, "query":query, "docno":docno, "text":text}
        info_df = info_df.append(df_row, ignore_index= True)

#textscorerTf = pt.text.scorer(body_attr="text", wmodel="Tf")
#rtr = textscorerTf.transform(

In [75]:
from pyterrier import text

In [76]:
from pyterrier.text import scorer

In [77]:
from jnius import JavaException
from pyterrier import text
textscorerTf = text.scorer(body_attr="text", wmodel="Tf-idf")
try:
    rtr = textscorerTf.transform(info_df)
except JavaException as ja:
    print(ja.stacktrace)

16:16:02.153 [main] ERROR o.t.m.models.WeightingModelFactory - Problem with weighting model named: org.terrier.matching.models.Tf-idf
java.lang.ClassNotFoundException: org.terrier.matching.models.Tf-idf
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:581) ~[na:na]
	at java.base/jdk.internal.loader.ClassLoaders$AppClassLoader.loadClass(ClassLoaders.java:178) ~[na:na]
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522) ~[na:na]
	at java.base/java.lang.Class.forName0(Native Method) ~[na:na]
	at java.base/java.lang.Class.forName(Class.java:398) ~[na:na]
	at org.terrier.utility.ApplicationSetup.getClass(ApplicationSetup.java:416) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
	at org.terrier.matching.models.WeightingModelFactory.newInstance(WeightingModelFactory.java:93) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
	at org.terrier.querying.LocalManager.getWeightingModel(LocalManager.java:950) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
	at org.terrier.querying.LocalManager$ApplyLocalMatching.process(LocalManager.java:488) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
	at org.terrier.querying.LocalManager.runSearchRequest(LocalManager.java:916) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
['java.lang.NullPointerException', 'org.terrier.matching.MatchingQueryTerms.setDefaultTermWeightingModel(MatchingQueryTerms.java:713)', 'org.terrier.querying.LocalManager$ApplyLocalMatching.process(LocalManager.java:507)', 'org.terrier.querying.LocalManager.runSearchRequest(LocalManager.java:916)']

In [51]:
rtr[1000:1200]

,qid,docno,rank,score,query
1000,2,clueweb12-1209wb-27-04726,0,7.0,Which is better a laptop or a desktop
1001,2,clueweb12-0205wb-28-18613,1,6.0,Which is better a laptop or a desktop
1002,2,clueweb12-1810wb-68-27991,2,6.0,Which is better a laptop or a desktop
1003,2,clueweb12-0105wb-39-15048,3,5.0,Which is better a laptop or a desktop
1004,2,clueweb12-0818wb-27-26496,4,5.0,Which is better a laptop or a desktop
...,...,...,...,...,...
1195,2,clueweb12-1905wb-38-08668,195,2.0,Which is better a laptop or a desktop
1196,2,clueweb12-0402wb-78-13259,196,2.0,Which is better a laptop or a desktop
1197,2,clueweb12-0716wb-33-06015,197,2.0,Which is better a laptop or a desktop
1198,2,clueweb12-1009wb-60-23862,198,2.0,Which is better a laptop or a desktop
1199,2,clueweb12-0909wb-88-23344,199,2.0,Which is better a laptop or a desktop

In [87]:
info_df

,qid,query,docno,text
0,1,What is the difference between sex and love,clueweb12-1214wb-88-29751,sex may or may not include penetration. differ...
1,1,What is the difference between sex and love,clueweb12-1811wb-62-08418,having ’sex’ and a ‘rape’ are two completely d...
2,1,What is the difference between sex and love,clueweb12-0200wb-79-18105,"home &gt; articles &gt; sex, sexuality &amp; p..."
3,1,What is the difference between sex and love,clueweb12-1311wb-38-04762,home &gt;&gt;&gt; sex education 2.0 &gt;&gt;&g...
4,1,What is the difference between sex and love,clueweb12-0200tw-85-01106,things have changed so much and it has been ye...
...,...,...,...,...
45611,50,Whose salary is higher basketball or soccer pl...,clueweb12-0612wb-13-05613,bodewes responded that 20% of the units would ...
45612,50,Whose salary is higher basketball or soccer pl...,clueweb12-0611wb-91-06001,bodewes responded that 20% of the units would ...
45613,50,Whose salary is higher basketball or soccer pl...,clueweb12-0612wb-76-29530,bodewes responded that 20% of the units would ...
45614,50,Whose salary is higher basketball or soccer pl...,clueweb12-0612wb-76-29532,bodewes responded that 20% of the units would ...
45615,50,Whose salary is higher basketball or soccer pl...,clueweb12-0611wb-98-29357,bodewes responded that 20% of the units would ...

In [82]:
method_names = ["Tf", "Tf-idf", "BM25", "DPH", "BM25F", "PL2F", "DirichletLM", "DFIC", "Hiemstra_LM"]
                
def count_ranking(method_name): 
    textscorerTf = text.scorer(body_attr="text", wmodel=method_name)
    try:
        rtr = textscorerTf.transform(info_df)
    except JavaException as ja:
        print(ja.stacktrace)
        return 0
    qids = rtr['qid']
    Q0s = [0 for elem in qids]
    docs = rtr['docno']
    scores = rtr['score']
    ranks = rtr['rank'] + 1
    tags = [method_name for elem in qids]
    common_list = list(zip(qids, Q0s, docs, ranks, scores, tags))
    with open(method_name +'.qrels', 'w') as fp:
        fp.write('\n'.join('%s %s %s %s %s %s' % x for x in common_list))
    print ("written " + method_name +'.qrels')

In [94]:
for method in ["TF"]:
    count_ranking(method)

16:52:15.347 [main] ERROR o.t.m.models.WeightingModelFactory - Problem with weighting model named: org.terrier.matching.models.TF
java.lang.ClassNotFoundException: org.terrier.matching.models.TF
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:581) ~[na:na]
	at java.base/jdk.internal.loader.ClassLoaders$AppClassLoader.loadClass(ClassLoaders.java:178) ~[na:na]
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522) ~[na:na]
	at java.base/java.lang.Class.forName0(Native Method) ~[na:na]
	at java.base/java.lang.Class.forName(Class.java:398) ~[na:na]
	at org.terrier.utility.ApplicationSetup.getClass(ApplicationSetup.java:416) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
	at org.terrier.matching.models.WeightingModelFactory.newInstance(WeightingModelFactory.java:93) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
	at org.terrier.querying.LocalManager.getWeightingModel(LocalManager.java:950) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
	at org.terrier.querying.LocalManager$ApplyLocalMatching.process(LocalManager.java:488) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
	at org.terrier.querying.LocalManager.runSearchRequest(LocalManager.java:916) ~[terrier-assemblies-5.4-jar-with-dependencies.jar:na]
['java.lang.NullPointerException', 'org.terrier.matching.MatchingQueryTerms.setDefaultTermWeightingModel(MatchingQueryTerms.java:713)', 'org.terrier.querying.LocalManager$ApplyLocalMatching.process(LocalManager.java:507)', 'org.terrier.querying.LocalManager.runSearchRequest(LocalManager.java:916)']

In [38]:
rtr

  qid docno  rank  score                                        query
0  q1    d1     0    1.0  What is the difference between sex and love
1  q1    d1     0    1.0                           chemical reactions
2  q1    d2     1    1.0  What is the difference between sex and love
3  q1    d2     1    1.0                           chemical reactions